    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700;900&display=swap');
    .wapenkamer {
        top: 50%;
        left: 50%;
        width: 1000px;
        height: 550px;
        overflow: auto;
        position: fixed;
        transform: translate(-50%, -50%);
        padding: 25px;
        background: rgba(75, 75, 75, 0.65);
        border-radius: 60px;
        box-shadow: black;
    }
    
    .box {
        top: 24%;
        left: 50%;
        width: 1000px;
        height: 80px;
        overflow: auto;
        position: fixed;
        transform: translate(-50%, -50%);
        padding: 25px;
        background: rgb(255, 102, 0);
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        box-shadow: darkorange;
        z-index: 25;
    }
    
    .logo {
        top: 25%;
        left: 63%;
        width: 1000px;
        height: 80px;
        overflow: auto;
        position: fixed;
        transform: translate(-50%, -50%);
        padding: 25px;
        background-image: url(./Naamloos.png);
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        box-shadow: darkorange;
        background-repeat: no-repeat;
        background-size: 50%;
        z-index: 30;
    }

    .etenlogo {
        top: 38%;
        left: 68%;
        width: 1350px;
        height: 75px;
        overflow: auto;
        position: fixed;
        transform: translate(-50%, -50%);
        padding: 25px;
        background-image: url(./pokebowl_pokebowl.png);
        box-shadow: darkorange;
        background-repeat: no-repeat;
        background-size: 50%;
        z-index: 40;
    }
    
    .select-button {
        font-family: Comfortaa;
        border: none;
        width: 230px;
        height: 57px;
        margin-top: -60%;
        margin-left: 48%;
        margin-right: auto;
        background-color: rgb(23, 158, 79);
        background-repeat: no-repeat;
        z-index: 11;
        border-radius: 15px;
    }
    
    .middel-button {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 0;
        position: absolute;
        top: 68%;
        left: 41%;
        z-index: 15;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .rechts-button {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 0;
        position: absolute;
        top: 68%;
        left: 58%;
        z-index: 15;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }    
    
    .links-button {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 0;
        position: absolute;
        top: 68%;
        left: 25%;
        z-index: 15;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }


    .nav-item {
        align-items: center;
        color: black;
        margin-top: 12%;
        font-size: 300%;
        font-family: Comfortaa;
        float: left;
        margin-left: 38%;
        display: block;
        padding: 8px;
        z-index: 40;
    }
    
    .nav-item2 {
        align-items: center;
        color: black;
        margin-top: 20%;
        font-size: 300%;
        font-family: Comfortaa;
        float: left;
        margin-left: 20%;
        display: block;
        padding: 8px;
        z-index: 40;
    }
    
    .boxje {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 0;
        position: absolute;
        top: 57%;
        left: 27%;
        border-radius: 60px;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        box-shadow: darkorange;
    }
    
    .item {
        background: rgba(235, 138, 29, 0.877);
        width: 250px;
        height: 160px;
        margin: 10px;
        float: left;
        border-radius: 5px;
        padding: 10px 0;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    }
    
    .item:hover {
        background: rgba(5, 5, 5, 0.76);
    }
    
    .item-text-line {
        float: left;
        width: 220px;
        margin: 0 15px;
        border-bottom: 1px solid rgb(0, 0, 0);
    }
    
    .item-text {
        float: left;
        width: 220px;
        margin: 0 15px;
        font-family: Comfortaa;
    }
    
    .item-left {
        font-family: Comfortaa;
        color: rgb(255, 255, 255);
        text-align: left;
        width: auto;
        padding: 10px;
        float: left;
    }
    
    .item-right {
        font-family: Comfortaa;
        color: rgb(255, 255, 255);
        text-align: right;
        width: auto;
        padding: 10px;
        float: right;
    }


    .boxje2 {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 0;
        position: absolute;
        top: 57%;
        left: 60%;
        border-radius: 60px;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        box-shadow: darkorange;
    }
    
    .item2 {
        background: rgba(235, 138, 29, 0.877);
        width: 250px;
        height: 160px;
        margin: 10px;
        float: left;
        border-radius: 5px;
        padding: 10px 0;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    }
    
    .item2:hover {
        background: rgba(5, 5, 5, 0.76);
    }
    
    .item-text-line2 {
        float: left;
        width: 220px;
        margin: 0 15px;
        border-bottom: 1px solid rgb(0, 0, 0);
    }
    
    .item-text2 {
        float: left;
        width: 220px;
        margin: 0 15px;
        font-family: Comfortaa;
    }
    
    .item-left2 {
        font-family: Comfortaa;
        color: rgb(255, 255, 255);
        text-align: left;
        width: auto;
        padding: 10px;
        float: left;
    }
    
    .item-right2 {
        font-family: Comfortaa;
        color: rgb(255, 255, 255);
        text-align: right;
        width: auto;
        padding: 10px;
        float: right;
    }

    .boxje3 {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 0;
        position: absolute;
        top: 57%;
        left: 43%;
        border-radius: 60px;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        box-shadow: darkorange;
    }
    
    .item3 {
        background: rgba(235, 138, 29, 0.877);
        width: 250px;
        height: 160px;
        margin: 10px;
        float: left;
        border-radius: 5px;
        padding: 10px 0;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    }
    
    .item3:hover {
        background: rgba(5, 5, 5, 0.76);
    }
    
    .item-text-line3 {
        float: left;
        width: 220px;
        margin: 0 15px;
        border-bottom: 1px solid rgb(0, 0, 0);
    }
    
    .item-text2 {
        float: left;
        width: 220px;
        margin: 0 15px;
        font-family: Comfortaa;
    }
    
    .item-left3 {
        font-family: Comfortaa;
        color: rgb(255, 255, 255);
        text-align: left;
        width: auto;
        padding: 10px;
        float: left;
    }
    
    .item-right3 {
        font-family: Comfortaa;
        color: rgb(255, 255, 255);
        text-align: right;
        width: auto;
        padding: 10px;
        float: right;
    }